{% extends 'base.html' %}
{% block content %}
    <div class="post-details card">
        <div class="card-body p-5">
            <h2>{{ post.title }}</h2>
            <p>{{ post.content }}</p>
            <p>{{ post.created_on }}</p>
            <div class="row gap-2">
                <a href="{% url 'post-update' post.pk %}" class="btn btn-warning col-1">Update</a>
                <a href="{% url 'post-delete' post.pk %}" class="btn btn-danger col-1">Delete</a>
            </div>
            <h3 class="pt-4">Comments:</h3>
            {% for comment in post.comments.all %}
                <div class="comment py-3 border-top border-bottom">
                    <p>{{ comment.content }}</p>
                    <p><small>{{ comment.created_on }}</small></p>
                    <form method="post" action="{% url 'delete-comment' comment.pk %}">
                        {% csrf_token %}
                        <div class="w-25 row gap-2">
                            <button class="text-danger col-2 btn">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                  <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                                </svg>
                            </button>
                        </div>
                    </form>
                </div>
            {% empty %}
                <p>No comments yet.</p>
            {% endfor %}
            <form method="post" action="{% url 'post-comment' %}">
                {% csrf_token %}
                <label for="content mt-2">Comment:</label>
                <input name="content" class="form-control mt-2" type="text">
                <input name="post_id" type="text" value="{{ post.pk }}" style="display: none;">
                <button class="btn btn-success mt-2">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}